body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

button {
  background-color: red;
  border-radius: 8px;
  border: 4px solid black;
  width: 120px;
  height: 35px;
}

#grid {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 800px;
  border: 2px solid black;
  background-color: green;
}

.gridLine {
  display: flex;
  width: 100%;
  border: 2px solid black;
}

.gridSquare {
  height: 100%;
  border: 2px solid black;
}